<div class="container">
  <div class="col-11 col-md-8 mx-auto">

    <div class="text-center mt-5">
      <h4 class="text-center">パスワードを忘れた方</h4>
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

      <div class="row mt-3 align-items-center">
        <%= f.label :email, class: "col-md-4" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-md-8" %>
      </div>

      <div class="mt-4 text-center">
        <%= f.submit "パスワード再設定メールを送信", class: "btn btn-success active" %>
      </div>

    <% end %>

    <%= render "admin/shared/links" %>

  </div>
</div>
