<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <h4 class="col-md-3 mt-5">店舗情報編集</h4>

      <div class='flashing mt-2'>
        <p>※現在登録されているデータは架空です</p>
      </div>

      <div class="mt-4">
        <%= form_with model: @restaurant, url: restaurant_information_path, method: :patch do |f| %>

          <div class="row field d-grid text-center mt-3">
            <%= f.label :image, "店舗画像", class: "col-md-3 text-left" %>
            <%= f.file_field :image, accept: "image/*", class: "col-md-7", style: "padding: 0;" %>
          </div>

          <div class="row field d-grid text-center mt-3">
            <%= f.label :店名, class: "col-md-3 text-left" %>
            <%= f.text_field :name, autofocus: true, required: true, class: "col-md-3" %>
          </div>

          <div class="row field d-grid text-center mt-4">
            <%= f.label :店舗紹介文, class: "col-md-3 text-left" %>
            <%= f.text_area :introduction, autofocus: true, required: true, class: "col-md-8" %>
          </div>

          <div class="row field d-grid text-center mt-4">
            <%= f.label :都道府県, class: "col-md-3 text-left" %>
            <%= f.collection_select :state_id , State.all,:id,:state %>
          </div>
          <p class="offset-md-3 mt-2">
            ※変更される場合は都道府県から選択し直してください
          </P>
          <div class="row field d-grid text-center mt-3">
            <%= f.label :地域エリア, class: "col-md-3 text-left" %>
            <div id="areas_select" >
              <%= render partial: 'shared/restaurant_areas', locals: { areas: @area } %>
            </div>
          </div>

          <p class="offset-md-3 mt-2">
            ※エリア分け詳細は
            <%= link_to "こちら", restaurant_about_path, class: "btn btn-outline-info btn-sm", data: {"turbolinks" => false} %>
            をご参考ください
          </p>

          <div class="row field d-grid text-center mt-4">
            <%= f.label :それ以降の住所, class: "col-md-3 text-left" %>
            <%= f.text_field :address, autofocus: true, required: true, class: "col-md-8" %>
          </div>

          <div class="row field d-grid text-center mt-4">
            <%= f.label :電話番号（ハイフンなし）, class: "col-md-3 text-left" %>
            <%= f.text_field :telephone_number, autofocus: true, class: "col-md-6" %>
          </div>

          <div class="row field d-grid text-center mt-4">
            <%= f.label :メールアドレス, class: "col-md-3 text-left" %>
            <%= f.email_field :email, autofocus: true, class: "col-md-6" %>
          </div>

          <div class="row field d-grid text-center mt-4">
            <%= f.label :定休日, class: "col-md-3 text-left" %>
            <%= f.text_field :regular_holiday, autofocus: true, class: "col-md-6" %>
          </div>

          <div class="row field d-grid text-center mt-4">
            <%= f.label :営業時間, class: "col-md-3 text-left" %>
            <%= f.text_field :business_hours, autofocus: true, class: "col-md-6" %>
          </div>

          <div class="row field d-grid text-center mt-4">
            <%= f.label :ホームページURL, class: "col-md-3 text-left" %>
            <%= f.text_field :home_page, autofocus: true, class: "col-md-6" %>
          </div>

          <div class="row field d-grid text-center mt-4">
            <%= f.label :駐車場, class: "col-md-3 text-left" %>
            <%= f.text_field :parking, autofocus: true, class: "col-md-6" %>
          </div>

          <div class="row field d-grid text-center mt-4">
            <%= f.label :News, class: "col-md-3 text-left" %>
            <%= f.text_area :news, autofocus: true, class: "col-md-8" %>
          </div>

          <div class="row field d-grid offset-md-3">
            <%= button_tag type: :submit, class: "btn btn-success active mt-4" do %>
              <i class="fas fa-save"></i> 編集内容を保存
            <% end %>
            <%= link_to restaurant_confirm_path, class:"btn btn-danger active ml-md-5 mt-4" do %>
              <i class="fas fa-store-alt-slash"></i>
              退会する
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

<script>
  window.addEventListener('pageshow',()=>{
  	if(window.performance.navigation.type==2) location.reload();
  });
</script>