<div class="container">
  <div class="row">
    <div class='col-10 offset-1 customer_show'>
      <% if flash[:notice] %>
        <%= notice %>
      <% end %>
      <h4 class="col-6 mt-5"><strong><%= "#{@customer.full_name}さんの会員詳細" %></strong></h4>

      <div class='flashing mt-2'>
        <p>※現在登録されているデータは架空です</p>
      </div>

      <table class="table table-hover table-inverse mt-4">
        <tr>
          <th>会員ID</th>
          <td><%= @customer.id %></td>
        </tr>

        <tr>
          <th>氏名</th>
          <td><%= @customer.full_name %></td>
        </tr>

        <tr>
          <th>フリガナ</th>
          <td><%= @customer.full_name_kana %></td>
        </tr>
        <tr>

        <tr>
          <th>メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>

        <tr>
          <th>都道府県</th>
          <td><%= @state %></td>
        </tr>

        <tr>
          <th>地域エリア</th>
          <td><%= @area %></td>
        </tr>

        <tr>
          <th>電話番号</th>
          <td><%= @customer.telephone_number %></td>
        </tr>

        <tr>
          <th>アレルギー一覧</th>
          <td>
            <% @customer.allergies.each do |allergy| %>
              <%= allergy.allergen %>
            <% end %>
          </td>
        </tr>

        <tr>
          <th>会員状況</th>
          <td>
            <% if @customer.is_valid == false %>
              <p class="customer_valid">退会</p>
            <% else %>
              <p class="customer_valid2">有効</p>
            <% end %>
          </td>
        </tr>
      </table>
      <span class = "customer_edit offset-3">
        <%= link_to "編集する", edit_admin_customer_path(@customer), class:"btn btn-success"%>
      </span>

    </div>
  </div>
</div>