<h1>メニュー一覧</h1>
<p>Find me in app/views/customer/menu/index.html.erb</p>
<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <div class ="row mt-5">
        <h4 class="col-3"><p class="p_1">店舗メニュー一覧<span style="font-size: 15px"><%= "(全#{@menu_count}件)"%></span></p></h4>
      </div>
        <div class = "row mt-4">
          <% @menus.each do |menu| %>
          <div class="col-4">
            <p class ="p_1">
              <div class="item_image">
                <% if menu.image.attached? %>
                  <%= link_to restaurant_menu_path(@restaurant, menu) do %>
                    <%= image_tag menu.get_image(100,100) %>
                  <% end %>
                <% else %>
                  <%= link_to restaurant_menu_path(@restaurant, menu) do %>
                    <%= image_tag 'default-image.jpg', size: "100x100" %>
                  <% end %>
                <% end %>

              </div>
            </p>
            <p class ="p_1"><%= link_to menu.name, restaurant_menu_path(@restaurant, menu) %></p>
            <p class ="p_1"><%= "¥#{menu.price}" %></p>
            </div>
          <% end %>
        </div>
        <div class = "row mt-4">
          <%= link_to "店舗詳細に戻る", restaurant_path(@restaurant), class: "btn btn-outline-primary btn-sm" %>
        </div>

        <div class="mt-3"><%= paginate @menus %></div>

    </div>
  </div>
</div>