<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <div class ="row mt-5">
        <h4 class="col-md-3"><p class="p_1">店舗メニュー一覧画面 <span style="font-size: 15px"><%= "(全#{@restaurant, @menu_count}件)"%></span></p></h4>
      </div>

      <div class='flashing mt-2'>
        <p>※現在登録されているデータは架空です</p>
      </div>
      <div class='mt-5'>
        <% if flash[:notice] %>
          <%= notice %>
        <% end %>
      </div>

        <div class = "row mt-4">
          <% @menus.each do |menu| %>
          <div class="col-md-4">
            <p class ="p_1">
              <div class="item_image">
                <% if menu.image.attached? %>
                  <%= link_to restaurant_restaurant_menu_path(@restaurant, menu) do %>
                    <%= image_tag menu.get_image(100,100) %>
                  <% end %>
                <% else %>
                  <%= link_to restaurant_restaurant_menu_path(@restaurant, menu) do %>
                    <%= image_tag 'default-image.jpg', size: "100x100" %>
                  <% end %>
                <% end %>

              </div>
            </p>
            <p class ="p_1"><%= link_to menu.name, restaurant_restaurant_menu_path(@restaurant, menu) %></p>
            <p class ="p_1"><%= "¥#{menu.price}" %></p>
            <% menu.allergies.each do |e| %>
              <td><%= e.allergen %></td>
            <% end %>
            </div>
          <% end %>
        </div>

        <div class="offset-5 mt-3"><%= paginate @menus %></div>

    </div>
  </div>
</div>