<div class="container">
  <div class="col-11 col-md-10 mx-auto">

    <h4 class="text-center mt-5">飲食店一覧 <span class="fs-6"><%= "(全#{@restaurant_count}件)" %></span></h4>

    <div class="flashing mt-2">
      <p>※現在登録されているデータは架空です</p>
    </div>

    <div class="table-responsive mt-4">
      <table class="table table-hover">
        <thead class="table-secondary">
          <tr>
            <th>店名</th>
            <th>住所</th>
            <th>定休日</th>
            <th>都道府県</th>
            <th>地域エリア</th>
          </tr>
        </thead>
        <tbody>
          <% @restaurants.each do |restaurant| %>
            <tr>
              <td>
                <% if restaurant.image.attached? %>
                  <%= link_to restaurant_path(restaurant.id) do %>
                    <%= image_tag restaurant.get_image(60,50), class: "me-2", width: 60, height: 50, style: "object-fit: cover;" %>
                  <% end %>
                <% else %>
                  <%= link_to restaurant_path(restaurant.id) do %>
                    <%= image_tag 'default-image.jpg', size: "60x50", class: "me-2" %>
                  <% end %>
                <% end %>
                <%= link_to restaurant.name, restaurant_path(restaurant.id) %>
              </td>
              <td><%= restaurant.address %></td>
              <td><%= restaurant.regular_holiday %></td>
              <td><%= State.find(restaurant.state_id).state %></td>
              <td><%= Area.find(restaurant.area_id).area %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center mt-3"><%= paginate @restaurants %></div>
    </div>

  </div>
</div>
