<div class="container">
  <div class="row">
    <div class="col-md-11 offset-1">

      <div class="search-data">
        <h4 class="col-3 mt-5">飲食店検索</h4>


        <%= form_with model: @customer, url: restaurants_path,method: :get, id: 'search_restaurant', class: 'search_restaurant', local: true do |f| %>
          <div class="row field d-grid text-center mt-3">
            <%= f.label :アレルゲン選択, class: "col-md-4 text-left" %>
            <%= f.collection_check_boxes :allergies, @allergies, :id, :allergen, include_hidden: false %>
          </div>

          <div class="row field d-grid text-center mt-3">
            <%= f.label :住所（都道府県）, class: "col-md-4 text-left" %>
            <%= f.collection_select :state_id , State.all,:id,:state %>
          </div>

          <div class="row field d-grid text-center mt-3">
            <%= f.label :住所（地域エリア）, class: "col-md-4 text-left" %>
            <div id="areas_select" >
              <%= render partial: 'shared/search_restaurants_areas', locals: { areas: Area.all } %>
            </div>
          </div>

          <div class="actions2 mt-4 offset-4">
            <%= f.submit "検索", class: "btn btn-success mx-auto btn-lg" %>
          </div>

          <div class="actions2 col-6 mt-4">
            <% if customer_signed_in? %>
              <h4>登録アレルゲンで簡易検索</h4>
              <div class="text-center mt-3">
                <p>アレルゲンを登録した会員の方は</br>
                  <%= link_to "こちら", member_search_restaurants_path %>
                  で簡単に検索する事ができます。
                </p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>