<div class="container">
  <div class="row">
    <div class="col-md-11 offset-1">

      <div class="search-data">
        <h4 class="col-md-3 mt-5">飲食店検索</h4>
        <p><strong>アレルゲンを含まないメニューを提供するお店の絞り込みをします。</strong></p>

        <%= form_with model: @customer, url: restaurants_path,method: :get, id: 'search_restaurant', class: 'search_restaurant', local: true do |f| %>
          <div class="row field d-grid text-center  mt-3">
            <%= f.label :アレルゲン選択, class: "col-md-4 text-left" %>
            <div class="allergies_check_boxes col-md-7">
              <%= f.collection_check_boxes(:allergies, @allergies, :id, :allergen, include_hidden: false) do |a| %>
                <%= a.label { a.check_box + a.text } %>
              <% end %>
              <%#= f.collection_check_boxes :allergies, @allergies, :id, :allergen, include_hidden: false %>
            </div>
          </div>

          <div class="row field d-grid text-center mt-3">
            <%= f.label :住所（都道府県）, class: "col-md-4 text-left" %>
            <%= f.collection_select :state_id , State.all,:id,:state, {selected: 1} %>
          </div>

          <div class="row field d-grid text-center mt-3">
            <%= f.label :住所（地域エリア）, class: "col-md-4 text-left" %>
            <div id="areas_select_customer" >
              <%= render partial: 'shared/areas', locals: { areas: Area.where(state_id: 1) } %>
            </div>
          </div>

          <p class="mt-2", style="text-align:center;" >
            ※エリア分け詳細は
            <%= link_to "こちら", about_path, class: "btn btn-outline-info btn-sm", data: {"turbolinks" => false} %>
            をご参考ください
          </p>

          <div class="actions2 mt-4 offset-4">
            <%= button_tag type: :submit, class: "btn btn-success active mx-auto" do %>
              <i class="fas fa-search"></i> 検索
            <% end %>
          </div>

          <div class="actions2 col-md-6 mt-5">
            <% if customer_signed_in? %>
              <h4>登録アレルゲンで簡易検索</h4>
              <div class="text-center mt-3">
                <p>アレルゲンを登録した会員の方は</br>
                  <%= link_to "こちら", member_search_restaurants_path, class: "btn btn-outline-info btn-sm" %>
                  で簡単に検索する事ができます。
                </p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  window.addEventListener('pageshow',()=>{
  	if(window.performance.navigation.type==2) location.reload();
  });
</script>