<div class="container">
  <div class="col-11 col-md-8 mx-auto">

    <h4 class="text-center mt-5"><strong>飲食店検索</strong></h4>
    <p class="text-center mt-2"><strong>アレルゲンを含まないメニューを提供するお店の絞り込みをします。</strong></p>

    <%= form_with model: @customer, url: restaurants_path, method: :get, id: 'search_restaurant', class: 'search_restaurant', local: true do |f| %>

      <div class="row mt-3 align-items-start">
        <%= f.label :アレルゲン選択, class: "col-md-4 pt-1" %>
        <div class="allergies_check_boxes col-md-8">
          <%= f.collection_check_boxes(:allergies, @allergies, :id, :allergen, include_hidden: false) do |a| %>
            <%= a.label { a.check_box + a.text } %>
          <% end %>
        </div>
      </div>

      <div class="row mt-3 align-items-center">
        <%= f.label :state_id, class: "col-md-4" %>
        <%= f.collection_select :state_id, State.all, :id, :state,
            { include_blank: "すべての都道府県" },
            { class: "col-md-4" } %>
      </div>

      <div class="row mt-3 align-items-center">
        <%= f.label :area_id, class: "col-md-4" %>
        <div id="areas_select_search" class="col-md-4">
          <select name="customer[area_id]" id="customer_area_id">
            <option value="">すべてのエリア</option>
          </select>
        </div>
      </div>

      <p class="text-center mt-2 small">
        ※エリア分け詳細は
        <%= link_to "こちら", about_path, class: "btn btn-outline-info btn-sm", data: {"turbolinks" => false} %>
        をご参考ください
      </p>

      <div class="mt-4 mb-5 text-center">
        <%= button_tag type: :submit, class: "btn btn-success active" do %>
          <i class="fas fa-search"></i> 検索
        <% end %>
      </div>

      <% if customer_signed_in? %>
        <div class="mt-5">
          <h4>登録アレルゲンで簡易検索</h4>
          <p class="mt-2">
            アレルゲンを登録した会員の方は
            <%= link_to "こちら", simple_search_restaurants_path, class: "btn btn-outline-info btn-sm" %>
            で簡単に検索する事ができます。
          </p>
        </div>
      <% end %>

    <% end %>

  </div>
</div>

<script>
  window.addEventListener('pageshow',()=>{
    if(window.performance.navigation.type==2) location.reload();
  });
</script>
