
<div class="container col-10 offset-1">
  <% if flash[:notice] %>
    <%= notice %>
  <% end %>
  <h4 class="col-4 mt-5">店舗詳細</h4>

  <h5 class="mt-4">
    <%= @restaurant.name %>
    <%= link_to restaurant_menus_path(@restaurant.id), class:"btn btn-success active ml-4" do %>
      <i class="fas fa-clipboard-list"></i>
      メニュー一覧
    <% end %>
  </h5>
  <div class= "row">
    <div class= "restaurant_image col-4 mt-4 text-center">
      <% if @restaurant.image.attached? %>
        <%= image_tag @restaurant.get_image(200,200) %>
      <% else %>
        <%= image_tag 'default-image.jpg', size: "200x200" %>
      <% end %>
    </div>
    <div class= "col-8 mt-4">
      <%= @restaurant.introduction %>
    </div>
  </div>
  <div class= "row">
    <table class="table table-hover table-inverse col-5 mt-4 ">
      <div>
        <tr>
          <th>都道府県</th>
          <td><%= @state %></td>
        </tr>
        <tr>
          <th>地域エリア</th>
          <td><%= @area %></td>
        </tr>
        <tr>
          <th>それ以降の住所</th>
          <td><%= @restaurant.address %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @restaurant.telephone_number %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @restaurant.email %></td>
        </tr>
        <tr>
          <th>定休日</th>
          <td><%= @restaurant.regular_holiday %></td>
        </tr>
        <tr>
          <th>営業時間</th>
          <td><%= @restaurant.business_hours %></td>
        </tr>
        <tr>
          <th>ホームページURL</th>
          <td><%= @restaurant.home_page %></td>
        </tr>
        <tr>
          <th>駐車場</th>
          <td><%= @restaurant.parking %></td>
        </tr>
        <tr>
          <th>アレルギー一覧</th>
          <td>
            <% @restaurant.menus.each do |menu| %>
              <% menu.allergies.each do |allergy| %>
                <%= allergy.allergen %>
              <% end %>
            <% end %>
          </td>
        </tr>
      </div>
    </table>
    <div class= "col-7 mt-4">
      <h5>NEWS</h5>
      <%= @restaurant.news %>
    </div>
  </div>
</div>