<div class="container">
  <div class="col-11 col-md-8 mx-auto">

    <div class="text-center mt-5">
      <h4 class="text-center"><strong><%= "#{@restaurant.name}の店舗情報編集" %></strong></h4>
    </div>

    <% flash.each do |key, value| %>
      <p class="alert alert-<%= key %>"><%= value %></p>
    <% end %>

    <div class='flashing mt-2'>
      <p>※現在登録されているデータは架空です</p>
    </div>

    <%= form_with model: @restaurant, url: admin_restaurant_path, method: :patch do |f| %>

      <div class="row mt-3 align-items-center">
        <%= f.label :会員ID, class: "col-md-4" %>
        <div class="col-md-8"><%= @restaurant.id %></div>
      </div>

      <div class="row mt-3 align-items-center">
        <%= f.label :name, class: "col-md-4" %>
        <%= f.text_field :name, required: true, class: "col-md-8" %>
      </div>

      <div class="row mt-3 align-items-center">
        <%= f.label :state_id, class: "col-md-4" %>
        <%= f.collection_select :state_id, State.all, :id, :state, {}, { class: "col-md-8" } %>
      </div>

      <div class="row mt-3 align-items-center">
        <%= f.label :area_id, class: "col-md-4" %>
        <div id="areas_select" class="col-md-8">
          <%= render partial: 'shared/restaurant_areas', locals: { areas: @area } %>
        </div>
      </div>

      <div class="row mt-3 align-items-center">
        <%= f.label :address, class: "col-md-4" %>
        <%= f.text_field :address, required: true, class: "col-md-8" %>
      </div>

      <div class="row mt-3 align-items-center">
        <%= f.label :telephone_number, class: "col-md-4" %>
        <%= f.text_field :telephone_number, required: true, class: "col-md-8" %>
      </div>

      <div class="row mt-3 align-items-center">
        <%= f.label :email, class: "col-md-4" %>
        <%= f.email_field :email, required: true, class: "col-md-8" %>
      </div>

      <div class="row mt-3 align-items-center">
        <%= f.label :regular_holiday, class: "col-md-4" %>
        <%= f.text_field :regular_holiday, required: true, class: "col-md-8" %>
      </div>

      <div class="row mt-3 align-items-center">
        <%= f.label :business_hours, class: "col-md-4" %>
        <%= f.text_field :business_hours, required: true, class: "col-md-8" %>
      </div>

      <div class="row mt-3 align-items-center">
        <p class="col-md-4 mb-0">会員状況</p>
        <div class="col-md-8">
          <%= f.radio_button :is_valid, true %>
          <%= f.label :is_valid, "有効", class: "valid me-3" %>
          <%= f.radio_button :is_valid, false %>
          <%= f.label :is_valid, "退会", class: "valid" %>
        </div>
      </div>

      <div class="mt-4 mb-5 text-center">
        <%= f.submit '変更を保存', class: "btn btn-success active px-4" %>
      </div>

    <% end %>

  </div>
</div>
