<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <h4 class="col-6 mt-5"><%= "#{@restaurant.name}の店舗情報編集" %></h4>
      <% flash.each do |key, value| %>
         <p class="alert alert-<%= key %>">
           <%= value %>
         </p>
      <% end %>

      <div class='flashing mt-2'>
        <p>※現在登録されているデータは架空です</p>
      </div>

      <%= form_with model: @restaurant, url:admin_restaurant_path, method: :patch do |f| %>

      　<div class="row field d-grid text-center mt-3">
          <%= f.label :会員ID, class: "col-md-3 text-left" %>
          <div class="col-md-2 ml-2">
            <%= @restaurant.id %>
          </div>
        </div>

        <div class="row field d-grid text-center">
          <%= f.label :店名, class: "col-md-4 text-left" %>
          <%= f.text_field :name, autofocus: true, required: true, class: "col-md-3" %>
        </div>

        <div class="row field d-grid text-center mt-3">
          <%= f.label :住所（都道府県）, class: "col-md-4 text-left" %>
          <%= f.collection_select :state_id , State.all,:id,:state %>
        </div>

        <div class="row field d-grid text-center mt-3">
          <%= f.label :住所（地域エリア）, class: "col-md-4 text-left" %>
          <div id="areas_select" >
            <%= render partial: 'shared/restaurant_areas', locals: { areas: @area } %>
          </div>
        </div>

        <div class="row field d-grid text-center mt-3">
          <%= f.label :それ以降の住所, class: "col-md-4 text-left" %>
          <%= f.text_field :address, autofocus: true, class: "col-md-3" %>
        </div>

        <div class="row field d-grid text-center mt-3">
          <%= f.label :電話番号（ハイフンなし）, class: "col-md-4 text-left" %><br />
          <%= f.text_field :telephone_number, required: true, class: "col-md-3" %>
        </div>

        <div class="row field d-grid text-center mt-4">
          <%= f.label :メールアドレス, class: "col-md-4 text-left" %>
          <%= f.email_field :email, autofocus: true, class: "col-md-6" %>
        </div>

        <div class="row field d-grid text-center mt-3">
          <%= f.label :定休日, class: "col-md-4 text-left" %>
          <%= f.text_field :regular_holiday, required: true, class: "col-md-3" %>
        </div>

        <div class="row field d-grid text-center mt-3">
          <%= f.label :営業時間, class: "col-md-4 text-left" %>
          <%= f.text_field :business_hours, required: true, class: "col-md-3" %>
        </div>

        <div class="row field d-grid text-center mt-3">
          <p class="col-md-4 text-left">会員状況</p>
          <%= f.radio_button :is_valid, true %>
          <%= f.label :is_valid, "有効", class: "valid ml-1" %>
          <%= f.radio_button :is_valid, false, class: "ml-4" %>
          <%= f.label :is_valid, "退会", class: "valid ml-1" %>
        </div>

        <div class="row form-group offset-4 mt-4 ml-26">
          <%= f.submit '変更を保存', class:"btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>