<div class="container">
  <div class="row">
    <div class='col-12'>
      <h4 class="col-md-5 mt-5">アレルゲン編集</h4>
      <% flash.each do |key, value| %>
         <p class="alert alert-<%= key %>">
           <%= value %>
         </p>
      <% end %>


      <div class="row">
        <div class='col-md-7 mt-5'>
          <%= form_with model: @allergy, url: admin_allergy_path, method: :patch do |f| %>

            <div class="field d-grid col-md-10 mt-4 text-center">
              <%= f.label :allergen %>
              <%= f.text_field :allergen %>
            </div>
            <div class="row form-group mt-4 offset-4">
              <%= f.submit '保存', class:"btn btn-success col-4" %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
