<div class="container">
  <div class="row">
    <div class='col-12'>
      <h4 class="col-3 mt-5">アレルゲン一覧・追加</h4>


      <div class="row">
        <div class='col-md-7 mt-5'>
          <%= form_with model: @allergy, url: admin_allergies_path, method: :post do |f| %>

            <div class="field d-grid col-11 mt-4">
              <%= f.label :アレルゲン, class: "w-25" %>
              <%= f.text_field :allergen %>
            </div>
            <div class="row form-group mt-4 offset-3">
              <%= f.submit '新規登録', class:"btn btn-success col-4" %>
            </div>
          <% end %>
        </div>

        <table class="table table-hover col-5">
          <thead class="table-secondary">
            <th>アレルゲン</th>
            <th></th>
            <th></th>
          </thead>
          <% @allergies.each do |allergy| %>
            <tr>
              <td>
                <%= allergy.allergen %>
              </td>
              <td>
                <%= link_to "編集", edit_admin_allergy_path(allergy), class:"btn btn-success"%>
              </td>
              <td>
                <%= link_to "削除",admin_allergy_path(allergy), method: :delete,  class:"btn btn-danger active" %>
              </td>
            </tr>
          <% end %>
        </table>
        <div class="offset-9 mt-3"><%= paginate @allergies %></div>
      </div>
    </div>
  </div>
</div>
