<div class="container">
  <div class="row">
    <div class="col-md-11 offset-1">
      <h4 class="col-md-3 mt-5">新規飲食店登録</h4>

      <%= form_with model: @restaurant, url: restaurant_registration_path, id: 'new_restaurant', class: 'new_restaurant', local: true do  |f| %>
        <%= render "restaurant/shared/error_messages", resource: resource %>

        <div class="row field d-grid text-center mt-3">
          <%= f.label :店名, class: "col-md-4 text-left" %>
          <%= f.text_field :name, autofocus: true, class: "col-md-3" %>
        </div>

        <div class="row field d-grid text-center mt-3">
          <%= f.label :メールアドレス, class: "col-md-4 text-left" %>
          <%= f.text_field :email, class: "col-md-3" %>
        </div>

        <div class="row field d-grid text-center mt-3">
          <%= f.label :店舗住所（都道府県）, class: "col-md-4 text-left" %>
          <%= f.collection_select :state_id , State.all,:id,:state, {selected: 1} %>
        </div>

        <div class="row field d-grid text-center mt-3">
          <%= f.label :店舗住所（地域エリア）, class: "col-md-4 text-left" %>
          <%#= f.collection_select :area_id , get_areas,:id,:area %>
          <div id="areas_select" >
            <%= render partial: 'shared/restaurant_areas', locals: { areas: Area.where(state_id: 1) } %>
          </div>
        </div>
        <p class="mt-2", style="text-align:center;">
          ※エリア分け詳細は
          <%= link_to "こちら", about_path, class: "btn btn-outline-info btn-sm", data: {"turbolinks" => false} %>
          をご参考ください
        </p>

        <div class="row field d-grid text-center mt-3">
          <%= f.label :それ以降の住所, class: "col-md-4 text-left" %>
          <%= f.text_field :address, autofocus: true, class: "col-md-3" %>
        </div>

        <div class="row field d-grid text-center mt-3">
          <%= f.label :電話番号（ハイフンなし）, class: "col-md-4 text-left" %><br />
          <%= f.text_field :telephone_number, class: "col-md-3" %>
        </div>

        <div class="row field d-grid text-center mt-3">
          <%= f.label :定休日, class: "col-md-4 text-left" %>
          <%= f.text_field :regular_holiday, class: "col-md-3" %>
        </div>

        <div class="row field d-grid text-center mt-3">
          <%= f.label :営業時間, class: "col-md-4 text-left" %>
          <%= f.text_field :business_hours, class: "col-md-3" %>
        </div>

        <div class="row field d-grid text-center mt-3">
          <div class="col-md-4 text-left">
            <%= f.label :パスワード %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %>
          </div>
          <%= f.password_field :password, class: "col-md-3" %>
        </div>

        <div class="row field d-grid text-center mt-3">
          <%= f.label :パスワード（確認用）, class: "col-md-4 text-left" %><br />
          <%= f.password_field :password_confirmation, class: "col-md-3" %>
        </div>

        <div class="actions2 mt-4 offset-4">
          <%= button_tag type: :submit, class: "btn btn-success active" do %>
            <i class="fas fa-store-alt"></i> 新規登録
          <% end %>
        </div>

        <h6 class="col-md-3 mt-4">既に登録済みの方</h6>
        <div class="row offset-md-1">
          <!--<a class ="member_registration" href = "/restaurants/sign_in">こちら</a>-->
          <p>
            <%= link_to "こちら", new_restaurant_session_path, class: "btn btn-outline-info btn-sm mr-1" %>
            からログインしてください。</p>
        </div>
      <% end %>

      <%#= render "restaurant/shared/links" %>
    </div>
  </div>
</div>

<script>
  window.addEventListener('pageshow',()=>{
  	if(window.performance.navigation.type==2) location.reload();
  });
</script>