<div class="container">
  <div class="row">
    <div class="col-md-10 offset-1">
      <h4 class="col-md-3 mt-5">店舗ログイン</h4>
      <%# if flash[:notice] %>
        <%#= notice %>
      <%# end %>
      <% if flash[:alert] %>
        <%= alert %>
      <% end %>

      <h6 class="col-md-5 mt-5 ml-md-4">店舗会員の方はこちらからログイン</h6>

      <%= form_with model: @restaurant, url: restaurant_session_path, id: 'in_restaurant', class: 'in_restaurant', local: true do |f| %>
        <div class="row field d-grid text-center mt-3">
          <%= f.label :メールアドレス, class: "col-md-3 text-left offset-1" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "メールアドレス", class: "col-md-5" %>
        </div>

        <div class="row field d-grid text-center mt-3">
          <%= f.label :パスワード, class: "col-md-3 text-left offset-1" %>
          <%= f.password_field :password, autocomplete: "パスワード", class: "col-md-5" %>
        </div>

        <div class="mt-4 offset-4">
          <%= button_tag type: :submit, class: "btn btn-success active" do %>
            <i class="fas fa-sign-in-alt"></i> ログイン
          <% end %>
        </div>

        <h6 class="col-md-4 mt-5 ml-md-4">会員登録がお済みでない方</h6>
        <div class="row offset-md-2">
          <p>
            <%= link_to "こちら", new_restaurant_registration_path, class: "btn btn-outline-info btn-sm", data: {"turbolinks": false} %>
            から新規登録を行ってください。
          </p>
        </div>
      <% end %>

      <!--<%= render "restaurant/shared/links" %>-->
    </div>
  </div>
</div>

