<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Enme</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# stylesheet_link_tag を削除し、pack_tag のみにして競合を防ぎます。v:'3'で強制更新 %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload', v: '3' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', v: '3' %>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
  </head>

  <body>
    <div class="wrapper">
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark" id="global_nav">
          <div class="container">
            <a class="navbar-brand" href="/">
              <%= image_tag('logo.png', size:'200x60') %>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <% if customer_signed_in? %>
                  <li><%= link_to "会員情報詳細", my_page_path, class:"nav-link" %></li>
                  <li><%= link_to "飲食店検索", search_restaurants_path, class:"nav-link" %></li>
                  <li><%= link_to "飲食店簡易検索", simple_search_restaurants_path, class:"nav-link" %></li>
                  <li><%= link_to "お気に入り一覧", customers_favorite_index_path, class:"nav-link" %></li>
                  <li><%= link_to "About", about_path, class:"nav-link", data: {"turbolinks" => false} %></li>
                  <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:"nav-link" %></li>
                <% elsif admin_signed_in? %>
                  <li><%= link_to "顧客一覧", admin_customers_path, class:"nav-link" %></li>
                  <li><%= link_to "アレルゲン一覧", admin_allergies_path, class:"nav-link" %></li>
                  <li><%= link_to "飲食店一覧", admin_path, class:"nav-link" %></li>
                  <li><%= link_to "地域一覧", admin_areas_index_path, class:"nav-link" %></li>
                  <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"nav-link" %></li>
                <% elsif restaurant_signed_in? %>
                  <li><%= link_to "登録情報詳細", restaurant_homes_path, class:"nav-link" %></li>
                  <li><%= link_to "メニュー一覧", restaurant_restaurant_menus_path(@restaurant), class:"nav-link" %></li>
                  <li><%= link_to "メニュー追加", new_restaurant_restaurant_menu_path(@restaurant), class:"nav-link" %></li>
                  <li><%= link_to "About", restaurant_about_path, class:"nav-link", data: {"turbolinks" => false} %></li>
                  <li><%= link_to "ログアウト", destroy_restaurant_session_path, method: :delete, class:"nav-link" %></li>
                <% else %>
                  <li><%= link_to "About", about_path, class:"nav-link", data: {"turbolinks" => false} %></li>
                  <li><%= link_to "飲食店検索", search_restaurants_path, class:"nav-link" %></li>
                  <li><%= link_to "新規登録", new_customer_registration_path, class:"nav-link", data: {"turbolinks": false} %></li>
                  <li><%= link_to "ログイン", new_customer_session_path, class:"nav-link" %></li>
                <% end %>
              </ul>
            </div>   
          </div>
        </nav>
      </header>
                
      <main>
        <%= yield %>
      </main>
    </div>
                  
    <footer>
      <div class="container">   
        <% unless signed_in? %>
          <div class="footer-buttons">
            <%= link_to "店舗新規会員登録", new_restaurant_registration_path, class:"text-light font-weight-bold", data: {"turbolinks": false} %>
            <%= link_to "店舗ログイン", new_restaurant_session_path, class:"text-light font-weight-bold" %>
          </div>
        <% end %>
        <p>©2022 Enme</p>
      </div>
    </footer>
                  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js"></script>
  </body>
</html>
