<!DOCTYPE html>
<html>
  <head>
    <title>Enme</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
  </head>

  <body>
    <div class="wrapper">
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container">
            <a class="navbar-brand" href="/">Enme</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <% if customer_signed_in? %>
                  <li class="nav-item"><%= link_to "マイページ", my_page_path, class: "nav-link" %></li>
                  <li class="nav-item"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link" %></li>
                <% else %>
                  <li class="nav-item"><%= link_to "ログイン", new_customer_session_path, class: "nav-link" %></li>
                  <li class="nav-item"><%= link_to "新規登録", new_customer_registration_path, class: "nav-link" %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <main>
        <%= yield %>
      </main>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </body>
</html>
