<!DOCTYPE html>
<html>
  <head>
    <title>Enme</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="wrapper">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">


          <% if customer_signed_in? %>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarNavDropdown" style>
              <ul class="navbar-nav ml-auto">
                <li>
                  <%= link_to customers_my_page_path, class:"nav-link text-light" do %>
                    <strong>マイページ</strong>
                  <% end %>
                </li>
                <li>
                  <%= link_to restaurants_serch_path, class:"nav-link text-light" do %>
                    <strong>飲食店検索</strong>
                  <% end %>
                </li>
                <li>
                  <%= link_to customers_favorite_index_pathh, class:"nav-link text-light" do %>
                    <i class="fas fa-shopping-cart"></i>
                    <strong>お気に入り</strong>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_customer_session_path, method: :delete, class:"nav-link text-light" do %>
                    <strong>ログアウト</strong>
                  <% end %>
                </li>
              </ul>
            </div>
          <% elsif admin_signed_in? %>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarNavDropdown" style>
              <ul class="navbar-nav ml-auto">
                <li>
                  <%= link_to admin_customers_path, class:"nav-link text-light" do %>
                    <strong>顧客一覧</strong>
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_allergies_path, class:"nav-link text-light" do %>
                    <strong>アレルゲン一覧</strong>
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_customers_path, class:"nav-link text-light" do %>
                    <strong>会員一覧</strong>
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_areas_path, class:"nav-link text-light" do %>
                    <strong>地域一覧</strong>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_admin_session_path, method: :delete, class:"nav-link text-light" do %>
                    <strong>ログアウト</strong>
                  <% end %>
                </li>
              </ul>
            </div>
          <% elsif restaurant_signed_in? %>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarNavDropdown" style>
              <ul class="navbar-nav ml-auto">
                <li>
                  <%= link_to restaurant_path, class:"nav-link text-light" do %>
                    <strong>登録情報詳細</strong>
                  <% end %>
                </li>
                <li>
                  <%= link_to restaurant_menus_path, class:"nav-link text-light" do %>
                    <i class="fas fa-birthday-cake"></i>
                    <strong>メニュー一覧</strong>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_restaurant_menu_pathh, class:"nav-link text-light" do %>
                    <strong>メニュー追加</strong>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_admin_session_path, method: :delete, class:"nav-link text-light" do %>
                    <strong>ログアウト</strong>
                  <% end %>
                </li>
              </ul>
            </div>
          <% else %>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarNavDropdown" style>
              <ul class="navbar-nav ml-auto">
                <li>
                  <%= link_to about_path, class:"nav-link text-light" do %>
                    <strong>About</strong>
                  <% end %>
                </li>
                <li>
                  <%= link_to restaurants_serch_path, class:"nav-link text-light" do %>
                    <strong>飲食店検索</strong>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_customer_registration_path, class:"nav-link text-light" do %>
                    <strong>新規登録</strong>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_customer_session_path, class:"nav-link text-light" do %>
                    <strong>ログイン</strong>
                  <% end %>
                </li>
              </ul>
            </div>
          <% end %>
        </div>
      </nav>
    </header>

    <body>
      <%= yield %>
    </body>

    <footer class="fixed-bottom">
      <p class="text-center"></p>
    </footer>
  </div>
</html>
