<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Enme</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# CSSはLinkタグ、JSはPackタグを使用します %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
  </head>

  <body style="display: flex; flex-direction: column; min-height: 100vh; margin: 0;">
    <div class="wrapper" style="flex: 1 0 auto;">
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark" id="global_nav" style="background-color: #343a40;">
          <div class="container">
            <% if customer_signed_in? %>
              <a class="navbar-brand" href="/"><%= image_tag('logo.png', size:'200x60') %></a>
            <% elsif admin_signed_in? %>
              <a class="navbar-brand" href="/admin"><%= image_tag('logo.png', size:'200x60') %></a>
            <% elsif restaurant_signed_in? %>
              <a class="navbar-brand" href="/restaurant"><%= image_tag('logo.png', size:'200x60') %></a>
            <% else %>
              <a class="navbar-brand" href="/"><%= image_tag('logo.png', size:'200x60') %></a>
            <% end %>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <% if customer_signed_in? %>
                  <li><%= link_to "会員情報詳細", my_page_path, class:"nav-link text-light font-weight-bold" %></li>
                  <li><%= link_to "飲食店検索", search_restaurants_path, class:"nav-link text-light font-weight-bold" %></li>
                  <li><%= link_to "飲食店簡易検索", simple_search_restaurants_path, class:"nav-link text-light font-weight-bold" %></li>
                  <li><%= link_to "お気に入り一覧", customers_favorite_index_path, class:"nav-link text-light font-weight-bold" %></li>
                  <li><%= link_to "About", about_path, class:"nav-link text-light font-weight-bold", data: {"turbolinks" => false} %></li>
                  <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:"nav-link text-light font-weight-bold" %></li>
                <% elsif admin_signed_in? %>
                  <li><%= link_to "顧客一覧", admin_customers_path, class:"nav-link text-light font-weight-bold" %></li>
                  <li><%= link_to "アレルゲン一覧", admin_allergies_path, class:"nav-link text-light font-weight-bold" %></li>
                  <li><%= link_to "飲食店一覧", admin_path, class:"nav-link text-light font-weight-bold" %></li>
                  <li><%= link_to "地域一覧", admin_areas_index_path, class:"nav-link text-light font-weight-bold" %></li>
                  <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"nav-link text-light font-weight-bold" %></li>
                <% elsif restaurant_signed_in? %>
                  <li><%= link_to "登録情報詳細", restaurant_homes_path, class:"nav-link text-light font-weight-bold" %></li>
                  <li><%= link_to "メニュー一覧", restaurant_restaurant_menus_path(@restaurant), class:"nav-link text-light font-weight-bold" %></li>
                  <li><%= link_to "メニュー追加", new_restaurant_restaurant_menu_path(@restaurant), class:"nav-link text-light font-weight-bold" %></li>
                  <li><%= link_to "About", restaurant_about_path, class:"nav-link text-light font-weight-bold", data: {"turbolinks" => false} %></li>
                  <li><%= link_to "ログアウト", destroy_restaurant_session_path, method: :delete, class:"nav-link text-light font-weight-bold" %></li>
                <% else %>
                  <li><%= link_to "About", about_path, class:"nav-link text-light font-weight-bold", data: {"turbolinks" => false} %></li>
                  <li><%= link_to "飲食店検索", search_restaurants_path, class:"nav-link text-light font-weight-bold" %></li>
                  <li><%= link_to "新規登録", new_customer_registration_path, class:"nav-link text-light font-weight-bold", data: {"turbolinks": false} %></li>
                  <li><%= link_to "ログイン", new_customer_session_path, class:"nav-link text-light font-weight-bold" %></li>
                <% end %>
              </ul>
            </div>   
          </div>
        </nav>
      </header>
                
      <main>
        <%= yield %>
      </main>
    </div>
                  
    <footer style="flex-shrink: 0; background-color: #343a40; color: white; padding: 30px 0;">
      <div class="container text-center">   
        <% unless signed_in? %>
          <div style="margin-bottom: 15px;">
            <%= link_to "店舗新規会員登録", new_restaurant_registration_path, class:"text-light font-weight-bold px-2", data: {"turbolinks": false} %>
            <%= link_to "店舗ログイン", new_restaurant_session_path, class:"text-light font-weight-bold px-2" %>
          </div>
        <% end %>
        <p>©2022 Enme</p>
      </div>
    </footer>
                  
    <%# JSライブラリ %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js"></script>
  </body>
</html>
